<!DOCTYPE html>
<html>
  <head>
    <title>Select activity - {{.VenueDetails.Name}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/main.css">
  </head>
  <body>
    <h1>Select activity</h1>
    <nav>
      <a href="../">Home</a> / <b>{{.VenueDetails.Name}}</b>
    </nav>
    {{range .Activities}}
      <b>{{.Name}}</b>
      <ul>
        {{range .Children}}
        <li>
          <a href="{{.Slug}}/">{{.Name}}</a>
        </li>
        {{end}}
      </ul>
    {{end}}
  </body>
</html>
