<!DOCTYPE html>
<html>
  <head>
    <title>Opening times - {{.Activity.Name}} - {{.Venue.Name}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../assets/main.css">
  </head>
  <body>
    <h1>Opening times</h1>
    <nav>
      <a href="../../">Home</a> / <a href="../">{{.Venue.Name}}</a> / <b>{{.Activity.Name}}</b>
    </nav>
    <ul>
      {{range .Dates}}
        <li>
          <b>{{.Date}}:</b>
          {{range $index, $time := .Times}}
            {{if $index}}
              and
            {{end}}
            {{$time.Start}} to {{$time.End}}
          {{else}}
            No times found
          {{end}}
        </li>
      {{end}}
    </ul>
  </body>
</html>
